[submodule "users"]
	path = users
	url = https://github.com/DaniilSelin/tsuskills-user
[submodule "dbmanager"]
	path = dbmanager
	url = https://github.com/DaniilSelin/tsuskills-dbmanager
[submodule "gateway"]
	path = gateway
	url = git@github.com:DaniilSelin/tsuskills-gateway.git
[submodule "skills"]
	path = skills
	url = git@github.com:DaniilSelin/tsuskills-skills.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:DaniilSelin/tsuskills-frontend.git
